* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", sans-serif;
}
.sub-cont {
	background: #1f2937;
    height: 30rem;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navigate {
	display: flex;
	text-indent: 30px;
}

.navitems ul li {
	list-style-type: none;
}

.navitems ul li a {
	text-decoration: none;
	font-size: 18px;
	color: #e5e7eb;
}
.logo p {
	font-size: 24px;
	font-weight: extra-bold;
	color: #f9faf8;
}

.body-cont {
	margin-top: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.website .website-header {
	font-size: 48px;
	font-family: extra-bold;
	color: #f9faf8;
}

.sub-header {
	font-size: 18px;
	color: #e5e7eb;
}

.sign {
    margin-top: 9px;
	background: #3883f6;
	color: white;
	border: none;
	font-size: 16px;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	width: 120px;
	height: 40px;
}

.place-holder{
    height: 14rem;
    width: 25rem;
    background-color: #C1C1C1;
    
    
}

.holder{
    color: #f9faf8;
    margin-top: 6rem;
    margin-left: 5rem;
}

.info-random{
    color: #1F2937;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-top: 1rem;
    padding-top: 2rem;
}
.subtext{
    width: 43rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21rem;
    gap: 2rem;
    padding-top: 2rem;
}
.middle-cont{
    height: 26rem;
}
.random-image{
    width: 12rem;

}

.subtext1 p{
    color: #65676b;
    text-align: center;
}

.thunder{
    background: #E5E7EB;
    height: 15rem;
}
.inspire{
    padding-top: 4rem;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: #1F2937;
    direction: ltr;
}

.inspire.quotes{
    margin-top: 3rem;
}
.gud{
    font-weight: bold;
    margin-left: 51rem;
}
.call{
    height: 25rem
}
.call-container{
    width:35rem;
    background: #3882F6;
    height: 10rem;
    margin-top: 4rem;
    
}
.call-action{
    
    height: 8rem;
}
